/*font-family: 'Neucha', cursive;
font-family: 'Rock Salt', cursive; */

* {
	overflow: auto;
}

body {
	font-family: 'Neucha', cursive;
	background: #FFFFFF;
	color: #181515;
	box-sizing: border-box;
}

.container {
	background: #F8BBD0;
	width: 80%;
	max-width: 1200px;
	margin: 10px auto;
}

#section {
	width: 80%;
	max-width: 1200px;
	margin: 10px auto;
}

.containercal {
	width: 80%;
	margin: 10px auto;
	border: 3px solid #C2185B;
	overflow: auto;
	padding: 15px;
}

h1 {
	font-family: 'Rock Salt', cursive;
	;
	color: #212121;
}

h2 {
	font-family: 'Rock Salt', cursive;
	;
	color: #E91E63;
	text-align: center;
}

nav a,
.button {
	padding: 10px 20px;
	margin-left: 20px;
	color: #FFFFFF;
	background: #E91E63;
	border: 1px solid #C2185B;
	text-decoration: none;
	border-radius: 15px;
}

nav a:hover,
.button:hover {
	color: #BDBDBD;
	background-color: #FFFFFF;
}

nav a:visited,
.button:visited {
	background: #C2185B;
	border: #FFFFFF;
}

img {
	padding: 15px;
	background: #FFFFFF;
}

#kellydisney {
	width: 40%;
	padding: 20px;
	border: 2px #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dogs {
	width: 30%;
	float: right;
	border: 2px #FFFFFF;
}

#kellyryan {
	width: 30%;
	float: nofloat;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dice {
	width: 80%;
	float: nofloat;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#kellykirsty {
	width: 200px;
	padding: 20px;
	float: right;
	border: 2px #FFFFFF;
}

nav {
	text-align: center;
	line-height: 4;
}

aside {
	clear: both;
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
	overflow: auto;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 50%;
}

#artwork {
	text-align: center;
}

header,
footer {
	clear: both;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
}

footer {
	font-family: 'Amatic SC', cursive;
}

main {
	box-sizing: border-box;
	padding: 30px;
}